## Uppgift 1 - Landstatistik

Ni får ett land tilldelat till er grupp. Börja med att anonymisera kolumnen med idrottarnas namn med
hashfunktionen SHA-256.

#### grupp : GERMANY

#### Hash Function:
- A hash function is any function that can be used to map data of arbitrary size to fixed-size values.
- A cryptographic hash is also known as digit , signature or fingerprint.
- SHA-256 generates an almost-unique 256-bit (32-byte) signature for a text

In [88]:
import pandas as pd
# first data file
df = pd.read_csv("../Project/Data/athlete_events.csv", usecols=['Name', 'Age', 'Sex', 'Team', 'NOC','Games','Year','Sport','Medal'])
df.head()

# second data file
df1 = pd.read_csv("../Project/Data/noc_regions.csv",usecols=['region', 'NOC']) #### NOC: National Olympic Committee
df1.head()

   NOC       region
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

In [89]:
# merge both the files with corresconding columns
df_merge = df1.merge(df, on="NOC",how = "left")
df_merge.head()

,NOC,region,Name,Sex,Age,Team,Games,Year,Sport,Medal
0,AFG,Afghanistan,Ahmad Shah Abouwi,M,NaN,Afghanistan,1956 Summer,1956.0,Hockey,NaN
1,AFG,Afghanistan,Jammal-ud-Din Affendi,M,28.0,Afghanistan,1936 Summer,1936.0,Hockey,NaN
2,AFG,Afghanistan,Mohammad Anwar Afzal,M,NaN,Afghanistan,1948 Summer,1948.0,Football,NaN
3,AFG,Afghanistan,Mohammad Aktar,M,17.0,Afghanistan,1980 Summer,1980.0,Wrestling,NaN
4,AFG,Afghanistan,Mohammad Daoud Anwary,M,22.0,Afghanistan,1964 Summer,1964.0,Wrestling,NaN

In [102]:

import hashlib

def hash_team(df_merge, country: str) -> pd.Series:
    """Returns column with hashed ahtlete names as pd.series."""

    # Might need some error and exception handling, this should convert to string and works for now:    
    #df_merge["region"] = df_merge["region"].astype(str)

    # Slice country parameter from DataFrame
    df_germany = df_merge[df_merge["region"] == country]

    # Lambda function for encoding, hashing and digest hex
    return df_germany.iloc[:,2].apply(
        lambda x: hashlib.sha256(x.encode()).hexdigest())

country = "Germany"

hash_team(df_merge, country)

88536     131035ec3203002f54fa3cf06aa38aa6f21b6805b6bb0c...
88537     131035ec3203002f54fa3cf06aa38aa6f21b6805b6bb0c...
88538     3197e17e38fc8a89f31334e64378c713173ad4845a93e7...
88539     3197e17e38fc8a89f31334e64378c713173ad4845a93e7...
88540     a27e8ab2def65f84128137b894e1235afa3480f576724f...
                                ...
209862    eccc614e2441d37a29f5b4c685c292792ef48ec840fc5a...
209863    bbf8259af13794df1604856b2a5ee7623869fdaf2e0ac3...
209864    642b485e5d2d9286c8a573f720155b890ca8a464320e32...
209865    642b485e5d2d9286c8a573f720155b890ca8a464320e32...
209866    75175a927fa06a749c07cd28b7bd251e22f166bf61b909...
Name: Name, Length: 15883, dtype: object

#### Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:

In [101]:
# select only data of our group : germany
df_germany = df_merge[(df_merge["region"] == "Germany")]
df_germany

,NOC,region,Name,Sex,Age,Team,Games,Year,Sport,Medal
88536,FRG,Germany,Gnther Abel,M,19.0,West Germany,1976 Winter,1976.0,Nordic Combined,NaN
88537,FRG,Germany,Gnther Abel,M,23.0,West Germany,1980 Winter,1980.0,Nordic Combined,NaN
88538,FRG,Germany,Gudrun Maria Abt,F,26.0,West Germany,1988 Summer,1988.0,Athletics,NaN
88539,FRG,Germany,Gudrun Maria Abt,F,26.0,West Germany,1988 Summer,1988.0,Athletics,NaN
88540,FRG,Germany,Matthias Adamczewski,M,30.0,West Germany,1988 Summer,1988.0,Sailing,NaN
...,...,...,...,...,...,...,...,...,...,...
209862,SAA,Germany,"Alfred ""Fred"" Wiedersporn",M,20.0,Saar,1952 Summer,1952.0,Gymnastics,NaN
209863,SAA,Germany,"Theresia Maria ""Therese"" Zenz",F,19.0,Saar,1952 Summer,1952.0,Canoeing,NaN
209864,SAA,Germany,Kurt Zimmer,M,27.0,Saar,1952 Summer,1952.0,Canoeing,NaN
209865,SAA,Germany,Kurt Zimmer,M,27.0,Saar,1952 Summer,1952.0,Canoeing,NaN
209866,SAA,Germany,Werner Zimmer,M,22.0,Saar,1952 Summer,1952.0,Wrestling,NaN